.topnav {
  overflow: hidden;
  background-color: #5991c2;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.bodyContent {
  padding-left: 15px;
}

.quizInputs, .create_quiz_header, .quizzes_list, .questions_answers, .login {
  padding: 10px 15px;
}

