{% extends 'base.html' %}

{% block header %}
<div class="create_quiz_header">
    <h1>{% block title %}Create Quiz{% endblock %}</h1>
    <h2>This page allows you to create a new quiz or add questions to an already existing quiz</h2>
</div>
{% endblock %}

{% block content %}
<form method="post">
    <div class="quizInputs">
        <div class="quizName">
            <label for="quizName">Quiz Name</label>
            <input name="quizName" id="quizName">
        </div>
        <div class="question">
            <label for="question">Question</label>
            <textarea name="question" id="question"></textarea>
        </div>
        <div class="answers">
            <label for="answer1">Answer</label>
            <input name="answer1" id="answer1">
            <label for="answer2">Answer</label>
            <input name="answer2" id="answer2">
            <label for="answer3">Answer</label>
            <input name="answer3" id="answer3">
            <label for="answer4">Answer</label>
            <input name="answer4" id="answer4">
            <label for="answer5">Answer</label>
            <input name="answer5" id="answer5">
        </div>
        <input type="submit" value="Finish">
    </div>
</form>

{% endblock %}